@model IEnumerable<TestIT.Models.Question>
@{
    ViewData["Title"] = "Questions";
}

<table class="table">
    <tr><td>№</td><td>Question</td><td>Answers</td></tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.Text</td>
    <td>@item.Answers</td>
    
</tr>
    }
</table>

@*<h2>Question # @Model.Id</h2>
    <div>
        <dl class="dl-horizontal">

            <dt>Question</dt>
            <dd>Model.Question</dd>

            <dt>Answer</dt>
            <dd>Model.Question.Answers</dd>
        </dl>
    </div>*@

