
@model TestIT.Models.Test
@{
    ViewData["Title"] = "All Tests";
}

<form asp-action="AddNewTest" asp-controller="Test">
    <table class="table">
        <tr>
            <td>
                <div class="form-group">
                    <label asp-for="TestName" class="control-label">TestName</label>
                    <input type="text" asp-for="TestName" class="form-control" />
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label asp-for="TestDescription" class="control-label">TestDescription</label>
                    <input type="text" asp-for="TestDescription" class="form-control" />
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <a type="button" class="btn btn-secondary" asp-controller="Question" asp-action="AddNewQuestion">Add New Question</a>
            </td>
            <td>
                <input type="submit" value="Save" class="btn btn-default" />
            </td>
        </tr>

    </table>

    @*<div class="form-group">
            <input type="submit" value="Send" class="btn btn-secondary" />
        </div>*@
</form>

